html {
  height: 100%;
  width: 100%;

  * {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
      Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
  }

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 300;
  }

  #app-container {
    height: 100%;
    width: 100%;
  }
}
